<?xml version="1.0" encoding="UTF-8"?>
<!-- Created by CA SiteMinder Version 12.52.0104.2032
     by os:root
     at 17:01:48 on 2016-05-18 -->
<!-- Uses schema "CA_SiteMinder_WAM-XPS2.xsd". This file
     can be found on policy servers under siteminder/db -->
<XPS xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
    xs:noNamespaceSchemaLocation="CA_SiteMinder_WAM-XPS2.xsd">
    <XPSVersion>1</XPSVersion>
    <PolicyData IsDumpExport="false">
        <Object Class="CA.SM::AuthScheme" Xid="CA.SM::AuthScheme@0d-00099788-67c8-1733-84ac-0003ac12d07d" CreatedDateTime="2016-05-11T17:11:36" ModifiedDateTime="2016-05-11T17:11:36" UpdatedBy="siteminder" UpdateMethod="GUI" ExportType="Replace">
            <Property Name="CA.SM::AuthScheme.PersistSessionVars">
                <BooleanValue>false</BooleanValue>
            </Property>
            <Property Name="CA.SM::AuthScheme.Name">
                <StringValue>FBA</StringValue>
            </Property>
            <Property Name="CA.SM::AuthScheme.AllowAuthLevelOverride">
                <BooleanValue>false</BooleanValue>
            </Property>
            <Property Name="CA.SM::AuthScheme.IsRadius">
                <BooleanValue>false</BooleanValue>
            </Property>
            <Property Name="CA.SM::AuthScheme.AllowSaveCreds">
                <BooleanValue>false</BooleanValue>
            </Property>
            <Property Name="CA.SM::AuthScheme.SupportsValidateIdentity">
                <BooleanValue>false</BooleanValue>
            </Property>
            <Property Name="CA.SM::AuthScheme.IgnorePwCheck">
                <BooleanValue>false</BooleanValue>
            </Property>
            <Property Name="CA.SM::AuthScheme.IsUsedbyAdmin">
                <BooleanValue>false</BooleanValue>
            </Property>
            <Property Name="CA.SM::AuthScheme.Level">
                <NumberValue>5</NumberValue>
            </Property>
            <Property Name="CA.SM::AuthScheme.IsTemplate">
                <BooleanValue>false</BooleanValue>
            </Property>
            <Property Name="CA.SM::AuthScheme.Param">
                <StringValue>/siteminderagent/forms/login.fcc;ACS=0;REL=1</StringValue>
            </Property>
            <Property Name="CA.SM::AuthScheme.Library">
                <StringValue>smauthhtml</StringValue>
            </Property>
            <Property Name="CA.SM::AuthScheme.Type">
                <NumberValue>4</NumberValue>
            </Property>
        </Object><!-- Xid="CA.SM::AuthScheme@0d-00099788-67c8-1733-84ac-0003ac12d07d" -->
    </PolicyData>
</XPS>
<!-- 17:01:48 2016-05-18 -->
