<?xml version="1.0" encoding="UTF-8"?>
<!-- Created by CA SiteMinder Version 12.52.0105.2113
     by os:root
     at 17:12:03 on 2016-10-06 -->
<!-- Uses schema "CA_SiteMinder_WAM-XPS2.xsd". This file
     can be found on policy servers under siteminder/db -->
<XPS xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
    xs:noNamespaceSchemaLocation="CA_SiteMinder_WAM-XPS2.xsd">
    <XPSVersion>1</XPSVersion>
    <PolicyData IsDumpExport="false">
        <References>
            <ReferenceValue ReferenceId="Ref00001">
                <StringValue>{{ hostvars[groups['im'][0]].ansible_default_ipv4.address }}</StringValue>
            </ReferenceValue>
            <ReferenceObject ReferenceId="Ref00002" ObjectClass="CA.SM::AgentType">
            <Xid>CA.SM::AgentType@10-8d78bb96-ae15-11d1-9cdd-006008aac24b</Xid>
            <Attribute Name="CA.SM::AgentType.Name" Type="Identity">
                <StringValue>Web Agent</StringValue>
            </Attribute>
            <Attribute Name="CA.SM::AgentType.Desc" Type="Comment">
                <StringValue>SiteMinder Web Agent</StringValue>
            </Attribute>
            </ReferenceObject>
        </References>
        <Object Class="CA.SM::Agent" Xid="CA.SM::Agent@01-000adacb-84c6-17f6-b594-0003ac12a01e" CreatedDateTime="2016-10-06T17:07:19" ModifiedDateTime="2016-10-06T17:07:19" UpdatedBy="siteminder" UpdateMethod="GUI" ExportType="Replace">
            <Property Name="CA.SM::Agent.AgentTypeLink">
                <LinkValue>
                    <XREF>Ref00002</XREF>
                </LinkValue>
            </Property>
            <Property Name="CA.SM::Agent.RealmHintAttrId">
                <NumberValue>0</NumberValue>
            </Property>
            <Property Name="CA.SM::Agent.Name">
                <StringValue>{{ ims_agent_name }}</StringValue>
            </Property>
            <Property Name="CA.SM::Agent4x.IpAddr">
                <LinkValue><XREF>Ref00001</XREF></LinkValue>
            </Property>
            <Property Name="CA.SM::Agent4x.Secret" Sensitive="Yes">
                <StringValue>{{ vault_sso_imagent_secret }}</StringValue>
            </Property>
        </Object><!-- Xid="CA.SM::Agent@01-000adacb-84c6-17f6-b594-0003ac12a01e" -->
    </PolicyData>
</XPS>
<!-- 17:12:03 2016-10-06 -->
