<?xml version="1.0" encoding="UTF-8"?>
<!-- Created by CA SiteMinder Version 12.52.0105.2112
     by os:root
     at 22:41:15 on 2016-09-01 -->
<!-- Uses schema "CA_SiteMinder_WAM-XPS2.xsd". This file
     can be found on policy servers under siteminder/db -->
<XPS xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
    xs:noNamespaceSchemaLocation="CA_SiteMinder_WAM-XPS2.xsd">
    <XPSVersion>1</XPSVersion>
    <PolicyData IsDumpExport="false">
        <References>
            <ReferenceObject ReferenceId="Ref00005" ObjectClass="CA.SM::UserDirectory">
            <Xid>CA.SM::UserDirectory@0e-000afdd6-6247-1733-84ac-0003ac12d07d</Xid>
            <Attribute Name="CA.SM::UserDirectory.Name" Type="Identity">
                <StringValue>Sample User Store</StringValue>
            </Attribute>
            <Attribute Name="CA.SM::UserDirectory.Server" Type="Comment">
                <StringValue>CA SiteMinder DSN</StringValue>
            </Attribute>
            <Attribute Name="CA.SM::UserDirectory.Namespace" Type="Comment">
                <StringValue>ODBC:</StringValue>
            </Attribute>
            </ReferenceObject>
            <ReferenceObject ReferenceId="Ref00003" ObjectClass="CA.SM::AuthScheme">
            <Xid>CA.SM::AuthScheme@0d-00099788-67c8-1733-84ac-0003ac12d07d</Xid>
            <Attribute Name="CA.SM::AuthScheme.Name" Type="Identity">
                <StringValue>FBA</StringValue>
            </Attribute>
            <Attribute Name="CA.SM::AuthScheme.Library" Type="Identity">
                <StringValue>smauthhtml</StringValue>
            </Attribute>
            </ReferenceObject>
            <ReferenceObject ReferenceId="Ref00004" ObjectClass="CA.SM::UserDirectory">
            <Xid>CA.SM::UserDirectory@0e-000ae370-74c6-17b4-834c-45cd0a82a0fe</Xid>
            <Attribute Name="CA.SM::UserDirectory.Name" Type="Identity">
                <StringValue>Sample User Directory</StringValue>
            </Attribute>
            <Attribute Name="CA.SM::UserDirectory.Server" Type="Comment">
                <StringValue>{{ hostvars[groups['pstore'][0]].inventory_hostname }}:{{ userstore_port }}</StringValue>
            </Attribute>
            <Attribute Name="CA.SM::UserDirectory.Namespace" Type="Comment">
                <StringValue>LDAP:</StringValue>
            </Attribute>
            </ReferenceObject>
            <ReferenceObject ReferenceId="Ref00001" ObjectClass="CA.SM::Agent">
            <Xid>CA.SM::Agent@01-000a7d2e-4b22-1733-84ac-0003ac12d07d</Xid>
            <Attribute Name="CA.SM::Agent.Name" Type="Identity">
                <StringValue>{{ agent_name }}</StringValue>
            </Attribute>
            </ReferenceObject>
            <ReferenceObject ReferenceId="Ref00002" ObjectClass="CA.SM::Agent">
            <Xid>CA.SM::Agent@01-000a8a58-92c8-17c8-bbcf-0003ac12a03e</Xid>
            <Attribute Name="CA.SM::Agent.Name" Type="Identity">
                <StringValue>{{ wa_agent_name }}</StringValue>
            </Attribute>
            </ReferenceObject>
        </References>
        <Object Class="CA.SM::Domain" Xid="CA.SM::Domain@03-0006c42f-711f-1769-bd52-01017f00a0fe" CreatedDateTime="2016-08-30T17:08:53" ModifiedDateTime="2016-09-01T22:40:05" UpdatedBy="siteminder" UpdateMethod="GUI" ExportType="Replace">
            <Property Name="CA.SM::Domain.IsDLP">
                <BooleanValue>false</BooleanValue>
            </Property>
            <Property Name="CA.SM::Domain.IsAffiliate">
                <BooleanValue>false</BooleanValue>
            </Property>
            <Property Name="CA.SM::Domain.Name">
                <StringValue>Sample Domain</StringValue>
            </Property>
            <Property Name="CA.SM::Domain.Mode">
                <NumberValue>2</NumberValue>
            </Property>
            <Property Name="CA.SM::Domain.UserDirectoriesLink">
                <LinkValue>
                    <XREF>Ref00004</XREF>
                </LinkValue>
                <LinkValue>
                    <XREF>Ref00005</XREF>
                </LinkValue>
            </Property>
            <Object Class="CA.SM::Realm" Xid="CA.SM::Realm@06-00078711-9897-17c8-bbcf-0003ac12a03e" CreatedDateTime="2016-09-01T21:07:35" ModifiedDateTime="2016-09-01T21:40:58" UpdatedBy="siteminder" UpdateMethod="GUI">
                <Property Name="CA.SM::Realm.AuthSchemeLink">
                    <LinkValue>
                        <XREF>Ref00003</XREF>
                    </LinkValue>
                </Property>
                <Property Name="CA.SM::Realm.ResourceFilter">
                    <StringValue>/app/</StringValue>
                </Property>
                <Property Name="CA.SM::Realm.SessionDrift">
                    <NumberValue>-1</NumberValue>
                </Property>
                <Property Name="CA.SM::Realm.IdleTimeout">
                    <NumberValue>3600</NumberValue>
                </Property>
                <Property Name="CA.SM::Realm.Name">
                    <StringValue>App realm</StringValue>
                </Property>
                <Property Name="CA.SM::Realm.ProcessAuthEvents">
                    <BooleanValue>true</BooleanValue>
                </Property>
                <Property Name="CA.SM::Realm.ProcessAzEvents">
                    <BooleanValue>true</BooleanValue>
                </Property>
                <Property Name="CA.SM::Realm.SessionType">
                    <NumberValue>0</NumberValue>
                </Property>
                <Property Name="CA.SM::Realm.SyncAudit">
                    <BooleanValue>false</BooleanValue>
                </Property>
                <Property Name="CA.SM::Realm.ProtectAll">
                    <BooleanValue>true</BooleanValue>
                </Property>
                <Property Name="CA.SM::Realm.AgentLink">
                    <LinkValue>
                        <XREF>Ref00002</XREF>
                    </LinkValue>
                </Property>
                <Property Name="CA.SM::Realm.MinUserConfidenceLevel">
                    <NumberValue>0</NumberValue>
                </Property>
                <Property Name="CA.SM::Realm.MaxTimeout">
                    <NumberValue>7200</NumberValue>
                </Property>
                <Property Name="CA.XPS::MetaAttributes.HidingMask">
                    <NumberValue>0</NumberValue>
                </Property>
                <Object Class="CA.SM::Rule" Xid="CA.SM::Rule@0b-000900d8-9898-17c8-bbcf-0003ac12a03e" CreatedDateTime="2016-09-01T21:07:36" ModifiedDateTime="2016-09-01T21:40:58" UpdatedBy="siteminder" UpdateMethod="GUI">
                    <Property Name="CA.SM::Rule.AllowAccess">
                        <BooleanValue>true</BooleanValue>
                    </Property>
                    <Property Name="CA.SM::Rule.Name">
                        <StringValue>App Rule</StringValue>
                    </Property>
                    <Property Name="CA.SM::Rule.TimeRestriction">
                        <StringValue>00000000-00000000-7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f</StringValue>
                    </Property>
                    <Property Name="CA.SM::Rule.Actions">
                        <StringValue>Get</StringValue>
                        <StringValue>Post</StringValue>
                    </Property>
                    <Property Name="CA.SM::Rule.RegularExpression">
                        <BooleanValue>false</BooleanValue>
                    </Property>
                    <Property Name="CA.SM::Rule.IsEnabled">
                        <BooleanValue>true</BooleanValue>
                    </Property>
                    <Property Name="CA.SM::Rule.Resource">
                        <StringValue>*</StringValue>
                    </Property>
                    <Property Name="CA.XPS::MetaAttributes.HidingMask">
                        <NumberValue>0</NumberValue>
                    </Property>
                </Object><!-- Xid="CA.SM::Rule@0b-000900d8-9898-17c8-bbcf-0003ac12a03e" -->
            </Object><!-- Xid="CA.SM::Realm@06-00078711-9897-17c8-bbcf-0003ac12a03e" -->
            <Object Class="CA.SM::Realm" Xid="CA.SM::Realm@06-00058dcb-97a6-1769-8f1d-45cd0a82a0fe" CreatedDateTime="2016-08-30T17:08:53" UpdatedBy="XPSDictionary::Import" UpdateMethod="Internal">
                <Property Name="CA.SM::Realm.AuthSchemeLink">
                    <LinkValue>
                        <XREF>Ref00003</XREF>
                    </LinkValue>
                </Property>
                <Property Name="CA.SM::Realm.ResourceFilter">
                    <StringValue>/affwebservices/redirectjsp/redirect.jsp</StringValue>
                </Property>
                <Property Name="CA.SM::Realm.SessionDrift">
                    <NumberValue>-1</NumberValue>
                </Property>
                <Property Name="CA.SM::Realm.IdleTimeout">
                    <NumberValue>3600</NumberValue>
                </Property>
                <Property Name="CA.SM::Realm.Name">
                    <StringValue>Redirectjsp Realm</StringValue>
                </Property>
                <Property Name="CA.SM::Realm.ProcessAuthEvents">
                    <BooleanValue>true</BooleanValue>
                </Property>
                <Property Name="CA.SM::Realm.ProcessAzEvents">
                    <BooleanValue>true</BooleanValue>
                </Property>
                <Property Name="CA.SM::Realm.SessionType">
                    <NumberValue>0</NumberValue>
                </Property>
                <Property Name="CA.SM::Realm.SyncAudit">
                    <BooleanValue>false</BooleanValue>
                </Property>
                <Property Name="CA.SM::Realm.ProtectAll">
                    <BooleanValue>true</BooleanValue>
                </Property>
                <Property Name="CA.SM::Realm.AgentLink">
                    <LinkValue>
                        <XREF>Ref00001</XREF>
                    </LinkValue>
                </Property>
                <Property Name="CA.SM::Realm.MinUserConfidenceLevel">
                    <NumberValue>0</NumberValue>
                </Property>
                <Property Name="CA.SM::Realm.MaxTimeout">
                    <NumberValue>7200</NumberValue>
                </Property>
                <Property Name="CA.XPS::MetaAttributes.HidingMask">
                    <NumberValue>0</NumberValue>
                </Property>
                <Object Class="CA.SM::Rule" Xid="CA.SM::Rule@0b-000ba2d2-97a7-1769-8f1d-45cd0a82a0fe" CreatedDateTime="2016-08-30T17:08:53" UpdatedBy="XPSDictionary::Import" UpdateMethod="Internal">
                    <Property Name="CA.SM::Rule.AllowAccess">
                        <BooleanValue>true</BooleanValue>
                    </Property>
                    <Property Name="CA.SM::Rule.Name">
                        <StringValue>Redirectjsp Rule</StringValue>
                    </Property>
                    <Property Name="CA.SM::Rule.TimeRestriction">
                        <StringValue>00000000-00000000-7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f</StringValue>
                    </Property>
                    <Property Name="CA.SM::Rule.Actions">
                        <StringValue>Get</StringValue>
                        <StringValue>Post</StringValue>
                    </Property>
                    <Property Name="CA.SM::Rule.RegularExpression">
                        <BooleanValue>false</BooleanValue>
                    </Property>
                    <Property Name="CA.SM::Rule.IsEnabled">
                        <BooleanValue>true</BooleanValue>
                    </Property>
                    <Property Name="CA.SM::Rule.Resource">
                        <StringValue>*</StringValue>
                    </Property>
                    <Property Name="CA.XPS::MetaAttributes.HidingMask">
                        <NumberValue>0</NumberValue>
                    </Property>
                </Object><!-- Xid="CA.SM::Rule@0b-000ba2d2-97a7-1769-8f1d-45cd0a82a0fe" -->
            </Object><!-- Xid="CA.SM::Realm@06-00058dcb-97a6-1769-8f1d-45cd0a82a0fe" -->
            <Object Class="CA.SM::Realm" Xid="CA.SM::Realm@06-000834f0-7120-1769-bd52-01017f00a0fe" CreatedDateTime="2016-08-30T17:08:53" UpdatedBy="XPSDictionary::Import" UpdateMethod="Internal">
                <Property Name="CA.SM::Realm.AuthSchemeLink">
                    <LinkValue>
                        <XREF>Ref00003</XREF>
                    </LinkValue>
                </Property>
                <Property Name="CA.SM::Realm.ResourceFilter">
                    <StringValue>/</StringValue>
                </Property>
                <Property Name="CA.SM::Realm.SessionDrift">
                    <NumberValue>-1</NumberValue>
                </Property>
                <Property Name="CA.SM::Realm.IdleTimeout">
                    <NumberValue>3600</NumberValue>
                </Property>
                <Property Name="CA.SM::Realm.Name">
                    <StringValue>Root Realm</StringValue>
                </Property>
                <Property Name="CA.SM::Realm.ProcessAuthEvents">
                    <BooleanValue>true</BooleanValue>
                </Property>
                <Property Name="CA.SM::Realm.ProcessAzEvents">
                    <BooleanValue>true</BooleanValue>
                </Property>
                <Property Name="CA.SM::Realm.SessionType">
                    <NumberValue>0</NumberValue>
                </Property>
                <Property Name="CA.SM::Realm.SyncAudit">
                    <BooleanValue>false</BooleanValue>
                </Property>
                <Property Name="CA.SM::Realm.ProtectAll">
                    <BooleanValue>false</BooleanValue>
                </Property>
                <Property Name="CA.SM::Realm.AgentLink">
                    <LinkValue>
                        <XREF>Ref00001</XREF>
                    </LinkValue>
                </Property>
                <Property Name="CA.SM::Realm.MinUserConfidenceLevel">
                    <NumberValue>0</NumberValue>
                </Property>
                <Property Name="CA.SM::Realm.MaxTimeout">
                    <NumberValue>7200</NumberValue>
                </Property>
                <Property Name="CA.XPS::MetaAttributes.HidingMask">
                    <NumberValue>0</NumberValue>
                </Property>
            </Object><!-- Xid="CA.SM::Realm@06-000834f0-7120-1769-bd52-01017f00a0fe" -->
            <Object Class="CA.SM::Policy" Xid="CA.SM::Policy@04-000be1d9-7121-1769-bd52-01017f00a0fe" CreatedDateTime="2016-08-30T17:08:53" UpdatedBy="XPSDictionary::Import" UpdateMethod="Internal">
                <Property Name="CA.SM::Policy.Name">
                    <StringValue>Sample Policy</StringValue>
                </Property>
                <Property Name="CA.SM::Policy.TimeRestriction">
                    <StringValue>00000000-00000000-7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f7f</StringValue>
                </Property>
                <Property Name="CA.SM::Policy.AllowAccess">
                    <BooleanValue>true</BooleanValue>
                </Property>
                <Property Name="CA.SM::Policy.IsEnabled">
                    <BooleanValue>true</BooleanValue>
                </Property>
                <Property Name="CA.SM::Policy.ValidateIdDifferentUser">
                    <BooleanValue>false</BooleanValue>
                </Property>
                <Property Name="CA.SM::Policy.ValidateIdentity">
                    <BooleanValue>false</BooleanValue>
                </Property>
                <Property Name="CA.XPS::MetaAttributes.HidingMask">
                    <NumberValue>0</NumberValue>
                </Property>
                <Object Class="CA.SM::UserPolicy" Xid="CA.SM::UserPolicy@0f-000089cc-ae61-17c8-bbcf-0003ac12a03e" CreatedDateTime="2016-09-01T22:40:33" UpdatedBy="siteminder" UpdateMethod="GUI">
                    <Property Name="CA.SM::UserPolicy.PolicyFlags">
                        <NumberValue>0</NumberValue>
                    </Property>
                    <Property Name="CA.SM::UserPolicy.FilterPath">
                        <StringValue>All</StringValue>
                    </Property>
                    <Property Name="CA.SM::UserPolicy.UserDirectoryLink">
                        <LinkValue>
                            <XREF>Ref00005</XREF>
                        </LinkValue>
                    </Property>
                    <Property Name="CA.SM::UserPolicy.FilterClass">
                        <StringValue>All</StringValue>
                    </Property>
                    <Property Name="CA.SM::UserPolicy.PolicyResolution">
                        <NumberValue>7</NumberValue>
                    </Property>
                </Object><!-- Xid="CA.SM::UserPolicy@0f-000089cc-ae61-17c8-bbcf-0003ac12a03e" -->
                <Object Class="CA.SM::UserPolicy" Xid="CA.SM::UserPolicy@0f-000bdcd2-9ef3-17c8-bbcf-0003ac12a03e" CreatedDateTime="2016-09-01T21:34:43" UpdatedBy="siteminder" UpdateMethod="GUI">
                    <Property Name="CA.SM::UserPolicy.PolicyFlags">
                        <NumberValue>0</NumberValue>
                    </Property>
                    <Property Name="CA.SM::UserPolicy.FilterPath">
                        <StringValue>All</StringValue>
                    </Property>
                    <Property Name="CA.SM::UserPolicy.UserDirectoryLink">
                        <LinkValue>
                            <XREF>Ref00004</XREF>
                        </LinkValue>
                    </Property>
                    <Property Name="CA.SM::UserPolicy.FilterClass">
                        <StringValue>All</StringValue>
                    </Property>
                    <Property Name="CA.SM::UserPolicy.PolicyResolution">
                        <NumberValue>7</NumberValue>
                    </Property>
                </Object><!-- Xid="CA.SM::UserPolicy@0f-000bdcd2-9ef3-17c8-bbcf-0003ac12a03e" -->
                <Object Class="CA.SM::PolicyLink" Xid="CA.SM::PolicyLink@05-00047f56-98ad-17c8-bbcf-0003ac12a03e" CreatedDateTime="2016-09-01T21:07:57" UpdatedBy="siteminder" UpdateMethod="GUI">
                    <Property Name="CA.SM::PolicyLink.RuleLink">
                        <LinkValue>
                            <XID>CA.SM::Rule@0b-000900d8-9898-17c8-bbcf-0003ac12a03e</XID>
                        </LinkValue>
                    </Property>
                    <Property Name="CA.XPS::MetaAttributes.HidingMask">
                        <NumberValue>0</NumberValue>
                    </Property>
                </Object><!-- Xid="CA.SM::PolicyLink@05-00047f56-98ad-17c8-bbcf-0003ac12a03e" -->
                <Object Class="CA.SM::PolicyLink" Xid="CA.SM::PolicyLink@05-0004c2cd-97ea-1769-8f1d-45cd0a82a0fe" CreatedDateTime="2016-08-30T17:08:53" UpdatedBy="XPSDictionary::Import" UpdateMethod="Internal">
                    <Property Name="CA.SM::PolicyLink.RuleLink">
                        <LinkValue>
                            <XID>CA.SM::Rule@0b-000ba2d2-97a7-1769-8f1d-45cd0a82a0fe</XID>
                        </LinkValue>
                    </Property>
                    <Property Name="CA.XPS::MetaAttributes.HidingMask">
                        <NumberValue>0</NumberValue>
                    </Property>
                </Object><!-- Xid="CA.SM::PolicyLink@05-0004c2cd-97ea-1769-8f1d-45cd0a82a0fe" -->
            </Object><!-- Xid="CA.SM::Policy@04-000be1d9-7121-1769-bd52-01017f00a0fe" -->
        </Object><!-- Xid="CA.SM::Domain@03-0006c42f-711f-1769-bd52-01017f00a0fe" -->
    </PolicyData>
</XPS>
<!-- 22:41:15 2016-09-01 -->
