version: 1

dn: {{ sstore_admin_dn }}
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: person
objectClass: top
cn: {{ sstore_admin_uid }}
sn: {{ sstore_admin_uid }}
uid: {{ sstore_admin_uid }}
userPassword: {{ sstore_admin_password }}
