[Unit]
Description=Hardware RNG Entropy Gatherer Daemon

[Service]
ExecStart=/sbin/rngd -f -r /dev/urandom -o /dev/random

[Install]
WantedBy=multi-user.target

